*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.body{
    height: 100vh;
}

nav.menu-itens{
    padding: 10px;
    display: none;
    width: 235px;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 70px;
    left: 0px;
    background-color: #131515;;
    border-right: 5px solid white;
}



.btn-span > i {
    width: 70px;
    color: white;
    font-size: 30px;
    
}

ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
    list-style-type: none;
    
}

.item{
    padding: 10px;
    display: flex;
    align-items: center;
    transition: .5s;
}

.item:hover{
    background-color: rgb(56, 56, 56);
}

ul .item a{
    display: flex;
    align-items: center;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

ul .item a:hover{
    display: flex;
    align-items: center;
    font-size: 1.5em;
    text-decoration: none;
    
}

ul .item a .txt-link{
    padding-left: 20px;
}

